body {
  background-color: #ebd3eb;
  color: #93a0f5;}
h1 {
  font-family: Apple Chancery;
  text-align: center;
  font-size: 45px;}
img {
  border: 5px solid #f542f5;}
h2 {
  text-decoration: underline;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f542f5;}
li {
  float: left;}
li a {
  font-size: 18px;
  display: block;
  color: #93a0f5;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;}
li a:hover {
  background-color: #912491;}
p a {
  color: #93a0f5;}
.offit {
  background-color: #f542f5;}
.onit {
  background-color: #912491;
  font-weight: bold;}
  
/*
.offit {
  list-style-type: none
  overflow: hidden
  font-size: 18px;
  display: block;
  color: orange;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  background-color: #0A0;}
*/
  
/*
.onit {
  list-style-type: none;
  overflow: hidden
  font-size: 18px;
  display: block;
  color: orange;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  background-color: #080;
  font-weight: bold;}
*/
